<%- include('partials/header') -%>



<div class="containertwo">
  <div class="row">
    <% for(var i=0; i<history.length; i++) { %>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card" style="width:20rem;">
          <img class="card-img-top" src="<%= history[i].image %>" alt="Bundle Image" width="300" height="200">
          <div class="card-body">
            <h5 class="card-title"><%= history[i].title %></h5>
            <p class="card-text"><%= history[i].description %></p>
            <p class="card-text">Location: <%= history[i].location %></p>
            <p class="card-text">Price: <%= history[i].price %></p>
            <a href="/post/<%= history[i]._id %>" class="btn btn-primary">View Details</a>
            <span class="delete-icon"><i class="fa fa-trash" aria-hidden="true"></i></span>
          </div>
        </div>
      </div>
    <% } %>
  </div>
</div>

  
</body>

</html>